<h4>links</h4>
<ul class="about">
        <li><a href = "http://faircloth-lab.org/">lab</a></li>
		<li><a href = "http://faircloth-lab.org/blog/">blog</a></li>
        <li><a href = "http://github.com/faircloth-lab/">github</a></li>
        <li><a href = "http://www.flickr.com/groups/faircloth-lab/pool/">photos</a></li>
        <li><a href = "http://bad-dna.org/">bad-dna</a></li>
    </ul>

<h4>contact</h4>
    <ul class="about">
        <li>
            <a href="http://twitter.com/#!/brantfaircloth" rel="me">faircloth-lab@twitter</a>
        </li>
    </ul>
